* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: min(4vw, 16px);
}

.top {
  width: 100%;
  height: 800px;
  background-image: url(./image/img3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}
.top nav .logo {
  mix-blend-mode: darken;
}
.top nav .logo img {
  width: 200px;
}
.top nav .navigation {
  display: flex;
  justify-content: space-around;
}
.top nav .navigation a {
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 1rem;
  font-size: 1rem;
}
.top .container1 {
  width: 100% !important;
  height: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top .container1 .content {
  width: 80%;
  padding: 3rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #234a7c;
  opacity: 0.8;
  text-align: center;
}
.top .container1 .content .header {
  width: 75%;
  margin: auto;
  padding-bottom: 1rem;
  border-bottom: 4px solid #7db3b7;
}
.top .container1 .content .header h1 {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 3rem;
}
.top .container1 .content .guids {
  margin: auto;
  width: 75%;
}
.top .container1 .content .guids p {
  color: #ffffff;
}

.about {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.about .box1 {
  position: relative;
  width: 80%;
  margin: auto;
  z-index: 999;
  background-color: #fff;
}
.about .box1 .inner-box1 {
  position: relative;
  padding: 3rem 4rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  z-index: 99;
  background-color: #fff;
}
.about .box1 .inner-box1 .header h1 {
  font-size: 2rem;
  color: #2771b2;
}
.about .box1 .inner-box1 .header h1 span {
  color: #00317a;
}
.about .box1 .inner-box1 .header h1 .underline {
  padding-bottom: 10px;
  border-bottom: 2px solid #81bcba;
}
.about .box1 .inner-box1 .details {
  display: flex;
  gap: 2rem;
}
.about .box1 .inner-box1 .details .explanation {
  width: 80%;
}
.about .box1 .inner-box1 .details .explanation p {
  color: #868682;
  font-size: 1rem;
}
.about .box1 .inner-box1 .details .explanation p span {
  color: #00317a;
  font-weight: 700;
}
.about .box1 .inner-box1 .details .contact {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.about .box1 .inner-box1 .details .contact > p {
  color: #00317a;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0;
}
.about .box1 .inner-box1 .details .contact p {
  margin-bottom: 0 !important;
}
.about .box1 .inner-box1 .details .contact span {
  display: flex;
  gap: 0.3rem;
}
.about .box1 .floating-image {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  top: -30px;
  z-index: 1;
}
.about .box1 .floating-image img {
  width: 100%;
  height: 100%;
}
.about .box2 {
  width: 80% !important;
  display: flex;
}
.about .box2 .left {
  height: 100%;
}
.about .box2 .left img {
  height: 330px;
}
.about .boot-box {
  width: 80%;
}
.about .bg-blue {
  border: 1px solid red;
  background-color: #00317a;
}
.about .bg-light {
  background-color: #b9b0af;
}

.contactus {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-image: url(./image/img5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.contactus .divider {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #234a7c;
}
.contactus .divider .left {
  padding: 3rem;
  width: 60%;
}
.contactus .divider .left .content {
  padding: 1rem;
}
.contactus .divider .left .content .header h5 {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
}
.contactus .divider .left .content .details p {
  color: #ffffff;
}
.contactus .divider .left .content hr {
  width: 40%;
  height: 5px;
  background-color: aqua;
}
.contactus .divider .right {
  padding: 2rem;
  width: 40%;
  position: relative;
  z-index: 999;
}
.contactus .divider .right form {
  position: absolute;
  width: 100%;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  top: 3%;
  right: 10%;
}
.contactus .divider .right form h2 {
  text-align: center;
  font-size: 2rem;
  color: #00317a;
}

.founders {
  padding: 5rem 10rem;
}
.founders h1 {
  color: #00317a;
  font: 1rem;
  padding-bottom: 2rem;
}
.founders p {
  font-size: 1rem;
  line-height: 1.5rem;
  width: 80%;
  padding-bottom: 1rem;
}
.founders .profile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}
.founders .profile .founder .photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: black;
}
.founders .profile .founder .photo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid red;
}
.founders .profile .founder h1 {
  font-size: 1rem;
  text-align: center;
}

footer {
  width: 100%;
  background-color: #00317a;
}
footer .container2 {
  width: 80%;
  margin: auto;
  display: flex;
  gap: 5rem;
  padding: 3rem 0;
  flex-wrap: wrap;
}
footer .container2 ul {
  list-style: none;
}
footer .container2 ul li {
  margin-bottom: 1rem;
  color: #ffffff;
  display: flex;
  gap: 1rem;
}
footer .container2 ul li:first-child {
  color: white;
  font-size: 1rem;
  font-weight: 700;
}
footer .container2 .social-media {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .container2 .social-media .logoes {
  display: flex;
  justify-content: space-evenly;
}
footer .container2 .social-media .logoes .logo {
  padding: 10px 15px;
  border-radius: 50%;
  background-color: #81bcba;
  text-align: center;
}
footer .container2 .social-media img {
  mix-blend-mode: multiply;
}
footer .container2 .social-media p {
  color: white;
  text-align: center;
}

@media (max-width: 768px) {
  .content {
    width: 100% !important;
  }
  .guids {
    width: 90% !important;
  }
  .about {
    width: 100% !important;
  }
  .about .box1 {
    width: 100% !important;
    margin: 0;
  }
  .about .box1 .inner-box1 {
    width: 100% !important;
    padding: 1rem;
  }
  .about .box1 .inner-box1 .details {
    flex-direction: column;
  }
  .about .boot-box {
    width: 100% !important;
  }
  .floating-image {
    display: none;
  }
  .divider {
    width: 100% !important;
    flex-direction: column;
    gap: 1rem;
    background-color: transparent !important;
  }
  .divider .left {
    width: 100% !important;
  }
  .divider .right {
    width: 100% !important;
    padding: 1rem !important;
  }
  .divider .right form {
    width: 100%;
    position: static !important;
  }
  .founders {
    padding: 1rem;
  }
  .container2 {
    width: 100% !important;
  }
}/*# sourceMappingURL=style.css.map */